.description {
  // box model
  padding: 1.5rem;

  // typography
  color: $white;

  // visual
  background-color: $green;
 
  @include atTablet {
    // box model
    padding: 2rem;
  }

  @include atDesktopS {
    // box model
    padding: 4rem;
  }

  @include atDesktopM {
    // box model
    padding: 4rem $dPadding;
  }
}

.description__row {
  @include atDesktopS {
    // box model
    display: flex;
    justify-content: space-between;
  }
}

.description__column {
  @include atDesktopS {
    // box model
    flex-basis: calc(50% - 2rem);
  }
}
