.footer {
  // box model
  padding: 1.5rem;
  padding-bottom: 3rem;

  // typography
  font-size: 0.85rem;
  text-align: center;


  @include atTablet {
    // box model
    padding: 2rem;

    // typography
    text-align: left;
  }
}
