.footer {
  // box model
  padding: 1.5rem;
  padding-bottom: 3rem;

  // typography
  font-size: 0.85rem;
  text-align: center;


  @include atTablet {
    // box model
    padding: 2rem;
    padding-top: 8rem;

    // typography
    text-align: left;
  }

  @include atDesktopS {
    // box model
    padding: 4rem;
    padding-top: 8rem;
  }

  @include atDesktopM {
    // box model
    padding: 4rem $dPadding;
  }
}
