.header {
  // box model
  padding: 1.5rem;

  // visual
  background-color: $lightGreen;
  background-image: linear-gradient(to bottom, $green, $lightGreen);

  @include atTablet {
    // box model
    padding: 2rem;

    // visual
    background-image:
      // url('./img/header-bg.svg'),
      url('./img/header-bg.png'),
      linear-gradient(to bottom, $green, $lightGreen);
    background-repeat: no-repeat;
    background-position: bottom 3.25rem right 1.5rem, center center;
    background-size: 40%, 100%;
  }

  @include atDesktopS {
    // box model
    padding: 4rem;

    // visual
    background-position: bottom 1rem right 3rem, center center;
    background-size: 45%, 100%;
  }
  
  @include atDesktopM {
    // box model
    padding: 4rem $dPadding;

    // visual
    background-position: bottom right $dPadding, center center;
    background-size: 34rem, 100%;
  }
}

.header__top {
  // box model
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  @include atTablet {
    // box model
    margin-bottom: 4rem;
  }

  @include atDesktopM {
    // box model
    margin-bottom: 6rem;
  }
}

.header__logo-n-nav {
  // positioning
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  // box model
  padding: 1.5rem;
  padding-bottom: 2rem;

  // visual
  background-color: $lightGreen;

  @include atTablet {
    // positioning
    position: relative;

    // box model
    display: flex;
    padding: 0;

    // visual
    background-color: transparent;
  }
}

.header__close {
  // positioning
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;

  // border
  border: none;

  // typography
  color: $white;
  font-size: 2rem;
  line-height: 1;

  // visual
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;

  @include atTablet {
    // box model
    display: none;
  }
}

.header__column {
  @include atTablet {
    // box model
    display: flex;
  }
}

.header__logo {
  // box model
  height: 3rem;
  width: 3rem;
  margin-bottom: 1rem;
}

.header__logo svg {
  // visual
  fill: $white;
}

.header__nav {
  // box model
  // display: none;
}

.header__city {
  // box model
  margin-bottom: 1rem;

  @include atTablet {
    // box model
    margin-right: 1rem;
  }

  @include atDesktopS {
    // box model
    margin-right: 2rem;
  }
}

.header__loans-given {

}

.header__menu-button {
  // box model
  padding-top: 0.5rem;
  width: 2rem;

  @include atTablet {
    // box model
    display: none;
  }
}

.header__hero {

}
