.header {
  // box model
  padding: 1.5rem;

  // visual
  background-image: linear-gradient(to bottom, $green, $lightGreen);
  background-color: $lightGreen;
}

.header__top {
  // box model
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.header__logo-n-nav {
  // positioning
  position: absolute;
}

.header__column {

}

.header__logo {
  // box model
  display: none;
}

.header__nav {
  // box model
  display: none;
}

.header__city {
  // box model
  margin-bottom: 1rem;
}

.header__loans-given {

}

.header__menu-button {
  // box model
  padding-top: 0.5rem;
  width: 2rem;
}

.header__hero {

}
