.hero {
  @include atTablet {
    // box model
    padding: 2rem 0;
    padding-right: 45%;
  }

  @include atDesktopS {
    // box model
    padding-right: 50%;
  }

  @include atDesktopM {
    // box model
    padding-right: 55%;
  }
}

.hero__caption {

}

.hero__title {
  // box model
  margin-bottom: 0.5rem;

  // typography
  color: $dark;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;

  @include atTablet {
    // typography
    font-size: 1.75rem;
  }

  @include atDesktopS {
    // typography
    font-size: 2.25rem;
  }
}

.hero__subtitle {
  // typography
  font-size: 0.75rem;

  @include atDesktopS {
    // typography
    font-size: 0.8rem;
  }
}

.hero__cta {
  // box model
  display: none;

  @include atTablet {
    // box model
    display: block;
    margin-top: 2rem;
    margin-left: -0.25rem;
  }

  @include atDesktopS {
    // box model
    margin-top: 4rem;
  }
}
