.hero {

}

.hero__caption {

}

.hero__title {
  // box model
  margin-bottom: 0.5rem;

  // typography
  color: $dark;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25;
}

.hero__subtitle {
  // typography
  font-size: 0.75rem;
}

.hero__cta {
  // box model
  display: none;
}
