.label {
  // box model
  margin-bottom: -1rem;
  margin-right: -1rem;
  padding: 0.5rem 1rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;

  // box model
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  // typography
  color: $white;
  font-size: 0.625rem;
  font-weight: 600;

  // visual
  background-color: $green;
}

.label:last-of-type {
  // box model
  padding-right: 1rem;
}

.label--orange {
  // visual
  background-color: $orange;
}

.label--blue {
  // visual
  background-color: $blue;
}
