.offers {
  // box model
  padding: 0.75rem;

  // visual
  background-image:
    linear-gradient(to bottom, $lightGreen, transparent 25rem),
    linear-gradient(to top, $green, transparent 25rem);

  background-position:
    top center,
    bottom center;
}
