.up-button {
  // positioning
  position: fixed;
  z-index: 8;
  bottom: 0;
  right: 1rem;

  // box model
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;
  padding-left: 0.75rem;

  // border
  border: 2px solid $green;
  border-bottom: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  // typography
  color: $darkGreen;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;

  // visual
  background-color: $white;
  opacity: 1;
}

.up-button--opaque {
  // visual
  opacity: 0;
}

.up-button__icon {
  // box model
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}
