$white: #ffffff;
$lightGreen: #8dd252;
$green: #69a938;
$darkGreen: #2f4f17;
$dark: #282b3b;
$orange: #e97d1d;
$blue: #1b74b4;

$mainFont: 'Montserrat', sans-serif;

$dPadding: calc(50vw - 34rem);
// $dPaddingL: calc(50vw - 39rem);
