doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="style.css")

    title Обзор онлайн займов России

  body
    header.header
      .header__top
        .header__logo-n-nav
          .header__logo
            img(src="./img/rouble.svg", alt="logo")
          nav.header__nav
            ul.main-nav
              li.main-nav__item
                a.main-nav__link(href="#offers") Одобрено

        .header__column
          .header__city
            button.city
              .city__marker
                img(src="./img/marker.svg", alt="")
              .city__text 
                p.city__your ваш город:
                p.city__city Санкт-Петербург
          .header__loans-given
            .loans-given
              .loans-given__icon 
                img(src="./img/loans.svg", alt="")
              .loans-given__text
                p.loans-given__number 53267
                p.loans-given__given выдано займов

        .header__menu-button
          a.menu-button(href="#" role="button") ≡
            img(src="./img/menu.svg", alt="")

      .header__hero
        .hero
          .hero__caption
            h1.hero__title Вам подобраны <br>следующие займы:
            p.hero__subtitle Для увеличения вероятности получения займа рекомендуем вам разбить запрашиваемую сумму на несколько частей и оформить заявку одновременно в 2-3 компаниях.
            .hero__cta
              a.button(href="#offers") Посмотреть предложения

    main
      section.offers#offers
        h2.offers__title Вам подобраны <br>следующие займы:
        a.offer(href="#")
          header.offer__header
            .label.label--orange Лучшее предложение
            .label.label--blue Займ под 0%
          .offer__content
            .offer__row
              .offer__column
                .offer__description
                  h3.offer__title Moneyman
                  ul.offer__desc-list
                    li.offer__desc-item Высокое одобрение
                    li.offer__desc-item Высокая скорость получения
                    li.offer__desc-item Первый займ без процентов
                .offer__logo
                  img(src="./img/logos/logo-1.png", alt="")
                .offer__numbers
                  .number
                    h4.number__title Ставка
                    p.number__value от 0%
                  .number
                    h4.number__title Возраст
                    p.number__value от 20 лет
                  .number
                    h4.number__title Срок
                    p.number__value до 21 дня
              .offer__column
                .offer__probability
                  .probability
                    h4.probability__title Вероятность одобрения:
                    h4.probability__mobile-title Одобрение:
                    p.probability__value 92%
                    .probability__star
                      img(src="./img/star.svg", alt="")
                .offer__cta
                  p.offer__max-value до <b>30&thinsp;000&thinsp;₽</b>
                  .button(href="#") Получить

        a.offer(href="#")
          header.offer__header
            .label.label--orange Займ без процентов
          .offer__content
            .offer__row
              .offer__column
                .offer__logo
                  img(src="./img/logos/logo-2.png", alt="")
                .offer__numbers
                  .number
                    h4.number__title Ставка
                    p.number__value от 0%
                  .number
                    h4.number__title Возраст
                    p.number__value от 20 лет
                  .number
                    h4.number__title Срок
                    p.number__value до 365 дней
              .offer__column
                .offer__probability
                  .probability
                    h4.probability__title Вероятность одобрения:
                    h4.probability__mobile-title Одобрение:
                    p.probability__value 93%
                    .probability__star
                      img(src="./img/star.svg", alt="")
                .offer__cta
                  p.offer__max-value до <b>100&thinsp;000&thinsp;₽</b>
                  .button(href="#") Получить

        a.offer(href="#")
          header.offer__header
            .label.label--orange На длительный срок
          .offer__content
            .offer__row
              .offer__column
                .offer__logo
                  img(src="./img/logos/logo-3.png", alt="")
                .offer__numbers
                  .number
                    h4.number__title Ставка
                    p.number__value от 0%
                  .number
                    h4.number__title Возраст
                    p.number__value от 20 лет
                  .number
                    h4.number__title Срок
                    p.number__value до 365 дней
              .offer__column
                .offer__probability
                  .probability
                    h4.probability__title Вероятность одобрения:
                    h4.probability__mobile-title Одобрение:
                    p.probability__value 98%
                    .probability__star
                      img(src="./img/star.svg", alt="")
                .offer__cta
                  p.offer__max-value до <b>100&thinsp;000&thinsp;₽</b>
                  .button(href="#") Получить

        a.offer(href="#")
          header.offer__header
            .label.label--blue Автоматическое одобрение
          .offer__content
            .offer__row
              .offer__column
                .offer__logo
                  img(src="./img/logos/logo-4.png", alt="")
                .offer__numbers
                  .number
                    h4.number__title Ставка
                    p.number__value от 0%
                  .number
                    h4.number__title Возраст
                    p.number__value от 18 лет
                  .number
                    h4.number__title Срок
                    p.number__value до 30 дней
              .offer__column
                .offer__probability
                  .probability
                    h4.probability__title Вероятность одобрения:
                    h4.probability__mobile-title Одобрение:
                    p.probability__value 96%
                    .probability__star
                      img(src="./img/star.svg", alt="")
                .offer__cta
                  p.offer__max-value до <b>30&thinsp;000&thinsp;₽</b>
                  .button(href="#") Получить

        a.offer(href="#")
          header.offer__header
            .label.label--blue Высокое одобрение
          .offer__content
            .offer__row
              .offer__column
                .offer__logo
                  img(src="./img/logos/logo-5.png", alt="")
                .offer__numbers
                  .number
                    h4.number__title Ставка
                    p.number__value от 0%
                  .number
                    h4.number__title Возраст
                    p.number__value от 18 лет
                  .number
                    h4.number__title Срок
                    p.number__value до 30 дней
              .offer__column
                .offer__probability
                  .probability
                    h4.probability__title Вероятность одобрения:
                    h4.probability__mobile-title Одобрение:
                    p.probability__value 95%
                    .probability__star
                      img(src="./img/star.svg", alt="")
                .offer__cta
                  p.offer__max-value до <b>10&thinsp;000&thinsp;₽</b>
                  .button(href="#") Получить

        a.offer(href="#")
          header.offer__header
            .label.label--orange Первый займ 0%
          .offer__content
            .offer__row
              .offer__column
                .offer__logo
                  img(src="./img/logos/logo-6.png", alt="")
                .offer__numbers
                  .number
                    h4.number__title Ставка
                    p.number__value от 0%
                  .number
                    h4.number__title Возраст
                    p.number__value от 18 лет
                  .number
                    h4.number__title Срок
                    p.number__value до 30 дней
              .offer__column
                .offer__probability
                  .probability
                    h4.probability__title Вероятность одобрения:
                    h4.probability__mobile-title Одобрение:
                    p.probability__value 93%
                    .probability__star
                      img(src="./img/star.svg", alt="")
                .offer__cta
                  p.offer__max-value до <b>30&thinsp;000&thinsp;₽</b>
                  .button(href="#") Получить

        a.offer(href="#")
          header.offer__header
            .label.label--orange Лучшее предложение
            .label.label--blue Займ под 0%
          .offer__content
            .offer__row
              .offer__column
                .offer__logo
                  img(src="./img/logos/logo-1.png", alt="")
                .offer__numbers
                  .number
                    h4.number__title Ставка
                    p.number__value от 0%
                  .number
                    h4.number__title Возраст
                    p.number__value от 20 лет
                  .number
                    h4.number__title Срок
                    p.number__value до 21 дня
              .offer__column
                .offer__probability
                  .probability
                    h4.probability__title Вероятность одобрения:
                    h4.probability__mobile-title Одобрение:
                    p.probability__value 92%
                    .probability__star
                      img(src="./img/star.svg", alt="")
                .offer__cta
                  p.offer__max-value до <b>30&thinsp;000&thinsp;₽</b>
                  .button(href="#") Получить

        a.offer(href="#")
          header.offer__header
            .label.label--orange Лучшее предложение
            .label.label--blue Займ под 0%
          .offer__content
            .offer__row
              .offer__column
                .offer__logo
                  img(src="./img/logos/logo-1.png", alt="")
                .offer__numbers
                  .number
                    h4.number__title Ставка
                    p.number__value от 0%
                  .number
                    h4.number__title Возраст
                    p.number__value от 20 лет
                  .number
                    h4.number__title Срок
                    p.number__value до 21 дня
              .offer__column
                .offer__probability
                  .probability
                    h4.probability__title Вероятность одобрения:
                    h4.probability__mobile-title Одобрение:
                    p.probability__value 92%
                    .probability__star
                      img(src="./img/star.svg", alt="")
                .offer__cta
                  p.offer__max-value до <b>30&thinsp;000&thinsp;₽</b>
                  .button(href="#") Получить

        a.offer(href="#")
          header.offer__header
            .label.label--orange Лучшее предложение
            .label.label--blue Займ под 0%
          .offer__content
            .offer__row
              .offer__column
                .offer__logo
                  img(src="./img/logos/logo-1.png", alt="")
                .offer__numbers
                  .number
                    h4.number__title Ставка
                    p.number__value от 0%
                  .number
                    h4.number__title Возраст
                    p.number__value от 20 лет
                  .number
                    h4.number__title Срок
                    p.number__value до 21 дня
              .offer__column
                .offer__probability
                  .probability
                    h4.probability__title Вероятность одобрения:
                    h4.probability__mobile-title Одобрение:
                    p.probability__value 92%
                    .probability__star
                      img(src="./img/star.svg", alt="")
                .offer__cta
                  p.offer__max-value до <b>30&thinsp;000&thinsp;₽</b>
                  .button(href="#") Получить


      section.description
        h2.section-title Советы заёмщикам
        p.section-text Что делать, если не одобрили займ? Попробуйте уменьшить запрошенную сумму и увеличить срок кредитования. К примеру, если вы брали займ на 15000 руб. и вам отказали, то нужно разделить эту сумму на 2-3 части, т.е. взять по 5000 руб. в разных МФО, одновременно подавая заявку.
        p.section-text Как увеличить Вероятность одобрения:? Мы рекомендуем вам подавать заявку одновременно в нескольких компаниях. Кредитным специалистам важно и то, насколько клиент интересуется процентными ставками, графиком погашения и общей переплатой по займу. Ваши заявки, задолженности, активные займы фиксируются, поэтому необходимо подавать заявку сразу, чтобы данные не успели обновиться.
        p.section-text Если вам не одобрила ни одна организация, нужно улучшать кредитную историю. Погасите все имеющиеся задолженности, переждите определенное время и попробуйте несколько раз взять минимальные займы в организациях, где вы не брали деньги.
        p.section-text Если не успеваете погасить вовремя - оплатите проценты и продлите свой заем, иначе проценты будут очень большие. Чтобы этого не произошло, необходимо сразу же сообщить сотрудникам кредитной фирмы о своих финансовых трудностях. В этом случае, возможно, что компания пойдет вам навстречу и оформит пролонгацию кредитного договора.

      section.disclaimer
        h2.section-title Дисклеймер
        p.section-text Настоящий сайт не принадлежит финансовой организации и на нём не оказываются финансовые услуги. Настоящий сайт является составным произведением, которое представляет собой в том числе каталог товарных знаков (знаков обслуживания), опубликованных в открытых реестрах ФИПС (Роспатент) и сопровождающихся подобранным каталогом финансовых услуг. Финансовые услуги из каталога оказываются непосредственно финансовыми организациями, и до их заказа вы должны ознакомиться с условиями документов, опубликованных непосредственно финансовой организацией. Исключительное право на товарные знаки (знаки обслуживания), представленные в вышеуказанном каталоге, принадлежат их правообладателям и охраняются в соответствии с выданными ФИПС (Роспатент) правоустанавливающими документами для индивидуализации товаров, работ или услуг их непосредственных правообладателей.

      section.city-select

    footer.footer
      p.footer__copy © 2021 сервис по подбору займов
      .footer__up
        a(href="#").up-button
          .up-button__icon
            img(src="./img/up.svg", alt="")
          span.up-button__text наверх
