body {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul[class],
ol[class] {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  line-height: 1.5; }

ul[class],
ol[class] {
  list-style: none; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

html {
  position: relative;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 4.75vw; }
  @media (min-width: 600px) {
    html {
      font-size: 2.5vw; } }
  @media (min-width: 1000px) {
    html {
      font-size: 1.4vw; } }
  @media (min-width: 1200px) {
    html {
      font-size: 16px; } }

body {
  position: relative;
  overflow-x: hidden; }

.nowrap {
  white-space: nowrap; }

@media (min-width: 1000px) {
  .mobile-only {
    display: none !important; } }

.desktop-only {
  display: none !important; }
  @media (min-width: 1000px) {
    .desktop-only {
      display: block !important; } }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat SemiBold"), local("Montserrat-Bold"), url("./fonts/Montserrat-SemiBold.woff2") format("woff2"), url("./fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("./fonts/Montserrat-Regular.woff2") format("woff2"), url("./fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

.header {
  padding: 1.5rem;
  background-image: linear-gradient(to bottom, #69a938, #8dd252);
  background-color: #8dd252; }

.header__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem; }

.header__logo-n-nav {
  position: absolute; }

.header__logo {
  display: none; }

.header__nav {
  display: none; }

.header__city {
  margin-bottom: 1rem; }

.header__menu-button {
  padding-top: 0.5rem;
  width: 2rem; }

.city {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none; }

.city__marker {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem; }

.city__marker img,
.city__marker svg {
  height: 100%;
  fill: #ffffff; }

.city__text {
  margin-right: 0.5rem;
  color: #ffffff;
  text-align: left; }

.city__your {
  margin-bottom: 0.25rem;
  font-size: 0.85rem;
  line-height: 1; }

.city__city {
  font-weight: 600;
  line-height: 1; }

.loans-given {
  display: flex;
  align-items: center;
  color: #ffffff; }

.loans-given__icon {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem; }

.loans-given__icon img,
.loans-given__icon svg {
  height: 100%;
  fill: #ffffff; }

.loans-given__number {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1; }

.loans-given__given {
  font-size: 0.85rem;
  line-height: 1; }

.menu-button {
  display: block;
  font-size: 0; }

.menu-button svg {
  width: 100%;
  fill: #ffffff; }

.hero__title {
  margin-bottom: 0.5rem;
  color: #282b3b;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.25; }

.hero__subtitle {
  font-size: 0.75rem; }

.hero__cta {
  display: none; }

.button {
  padding: 0.5rem 1rem;
  border: 2px solid #69a938;
  border-radius: 2rem;
  color: #282b3b;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1;
  text-align: center;
  text-transform: uppercase; }

.offers {
  padding: 0.75rem;
  background-image: linear-gradient(to bottom, #8dd252, transparent 25rem), linear-gradient(to top, #69a938, transparent 25rem);
  background-position: top center, bottom center; }

.offer {
  position: relative;
  display: block;
  margin-bottom: 2rem;
  text-decoration: none; }

.offer__header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-start; }

.offer__content {
  position: relative;
  z-index: 2;
  padding: 0.75rem;
  border: 4px solid #69a938;
  border-radius: 1rem;
  background-color: #ffffff; }

.offer__description {
  display: none; }

.offer__row {
  display: flex;
  justify-content: space-between; }

.offer__column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: calc(50% - 0.75rem); }

.offer__logo {
  max-height: 2.5rem;
  margin-bottom: 0.5rem; }

.offer__logo img {
  max-width: 100%;
  max-height: 100%; }

.offer__numbers {
  justify-content: space-between; }

.offer__max-value {
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
  color: #2f4f17;
  font-size: 1.25rem;
  text-align: right; }

.probability {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #69a938; }

.probability__title {
  display: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.75rem; }

.probability__mobile-title {
  margin-right: 0.5rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.75rem; }

.probability__value {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600; }

.probability__star {
  display: none; }

.number {
  margin-bottom: 0.5rem; }

.number__title {
  color: #2f4f17;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125; }

.number__value {
  color: #282b3b;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.125; }

.label {
  margin-bottom: -1rem;
  margin-right: -1rem;
  padding: 0.5rem 1rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #ffffff;
  font-size: 0.625rem;
  font-weight: 600;
  background-color: #69a938; }

.label:last-of-type {
  padding-right: 1rem; }

.label--orange {
  background-color: #e97d1d; }

.label--blue {
  background-color: #1b74b4; }

.description {
  padding: 1.5rem;
  color: #ffffff;
  background-color: #69a938;
  background-size: cover; }

.disclaimer {
  padding: 1.5rem; }

.section-title {
  margin-bottom: 1rem;
  font-weight: 400; }

.section-text {
  margin-bottom: 1rem;
  font-size: 0.85rem; }

.footer {
  padding: 1.5rem;
  font-size: 0.85rem;
  text-align: center; }
