body {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul[class],
ol[class] {
  padding: 0; }

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: geometricPrecision;
  line-height: 1.5; }

ul[class],
ol[class] {
  list-style: none; }

a:not([class]) {
  text-decoration-skip-ink: auto; }

img {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

html {
  position: relative;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 4.75vw; }
  @media (min-width: 600px) {
    html {
      font-size: 2.5vw; } }
  @media (min-width: 1000px) {
    html {
      font-size: 1.4vw; } }
  @media (min-width: 1200px) {
    html {
      font-size: 16px; } }

body {
  position: relative;
  overflow-x: hidden; }

.nowrap {
  white-space: nowrap; }

@media (min-width: 1000px) {
  .mobile-only {
    display: none !important; } }

.desktop-only {
  display: none !important; }
  @media (min-width: 1000px) {
    .desktop-only {
      display: block !important; } }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat SemiBold"), local("Montserrat-Bold"), url("./fonts/Montserrat-SemiBold.woff2") format("woff2"), url("./fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Medium"), local("Montserrat-SemiBold"), url("./fonts/Montserrat-Medium.woff2") format("woff2"), url("./fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Montserrat';
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("./fonts/Montserrat-Regular.woff2") format("woff2"), url("./fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Sverdlovsk';
  src: url("./fonts/SverdlovskRegular.woff2") format("woff2"), url("./fonts/SverdlovskRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }
